* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #030E14;
  line-height: 1.5;
  color: #6a7382;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  color: #000001;
  margin-top: 0;
  line-height: 1.5;
  font-family: "Dela Gothic One", sans-serif;
}

p {
  margin-bottom: 15px;
  color: #6a7382;
}

/* Navbar */

.navbar-nav li {
  padding: 10px 10px;
}

.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff !important;
  display: inline-block;
  position: relative;
}

.navbar-nav li a:hover {
  color: #ffffff !important;
}

.navbar-nav .nav-link.active {
  color: #ffffff !important;
}

.header.sticky li a {
  color: white !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #D3ED05;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
  left: 0;
}

ul.dropdown-menu {
  padding: 0;
}

.dropdown-menu li:hover,
.dropdown-menu li:hover a {
  background: white;
  color: #000001 !important;
}


.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #000001;
}

.offcanvas {
  background-color: #030e14;
}

.offcanvas .navbar-nav .dropdown-menu {
  margin-top: 10px;
  border-radius: 8px;
}

.offcanvas .navbar-nav .dropdown-menu li,
.offcanvas .navbar-nav li {
  padding: 10px 0;
}

.offcanvas .navbar-nav .dropdown-menu li:hover,
.offcanvas .navbar-nav .dropdown-menu li:hover a {
  border-radius: 8px;
}

.dropdown-menu {
  background-color: #030e14;
  border-radius: 0px;
}

.dropdown-item {
  background: none !important;
}

.dropdown-menu li {
  padding: 6px 10px;
}

/* section */

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title span {
  color: #D3ED05;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-title h2,
.section-title h3 {
  font-size: 58px;
  line-height: 82px;
  letter-spacing: -2.22917px;
  color: white;
  text-transform: uppercase;
}

.section-title p {
  color: #FFFFFF;
  font-size: 20.0625px;
  opacity: 0.6;
}

.container {
  max-width: 1420px;
}

/* header */
.header {
  z-index: 999;
  background: transparent;
  position: absolute;
  width: 100%;
  padding: 15px 0;
  transition: all .6s;
}

header.sticky {
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #030E14;
}

header.sticky #navbarNav {
  border-bottom: 0px !important;
}

header.sticky img {
  transition: all 0.5s ease-in-out;
}

/* top banner */
.top-banner {
  background: url("/assets/images/top-banner.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 0;
}

.top-banner .center-col {
  text-align: center;
}

.top-banner .center-col h1 {
  color: #fff;
  font-size: 51.71px;
  line-height: 59px;
  text-transform: uppercase;
}

.top-banner .center-col h1 span {
  color: #d3ed05;
}

.top-banner .center-col p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 0;
}

.top-banner .left {
  border: 1px solid #ffffff20;
  padding: 15px;
  border-radius: 54px;
  position: relative;
}

.top-banner .left .overflow-sec {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 26.75px;
  background: rgba(3, 14, 20, 0.6);
  backdrop-filter: blur(5.57292px);
  padding: 10px 25px;
  position: absolute;
  width: 85%;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border: 1.11458px solid rgba(201, 236, 6, 0.5);
}

.top-banner .left .overflow-sec p {
  font-size: 17px;
  color: white;
  margin-bottom: 0;
}

.top-banner .center {
  margin-top: 84px;
  position: relative;
  width: 100%;
  height: 535px;
}

.top-banner .left .overflow-sec span {
  font-size: 22px;
  color: white;
  font-family: "Dela Gothic One", sans-serif;
}

.top-banner .right {
  background: linear-gradient(90deg, rgba(3, 14, 20, 0.2) 0%, rgba(3, 14, 20, 0) 100%);
  border-radius: 26.75px;
  padding: 40px;
}

.top-banner .right .number {
  margin-bottom: 43px;
}

.top-banner .right .number span {
  font-size: 39px;
  font-family: "Dela Gothic One", sans-serif;
  color: white;
}

.top-banner .right .number p {
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

/* End */

/* sec one */
.sec-one {
  padding: 80px 0 40px;
}

.sec-one .sec-one-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-one .sec-one-body .sec-one-inner {
  position: relative;
  width: 33.333%;
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec,
.sec-one .sec-one-body .sec-one-inner .overflow-sec-one,
.sec-one .sec-one-body .sec-one-inner .overflow-sec-two {
  width: 75%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-37%, -90%);
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec .overflow-sec-inner,
.sec-one .sec-one-body .sec-one-inner .overflow-sec-one .overflow-sec-inner,
.sec-one .sec-one-body .sec-one-inner .overflow-sec-two .overflow-sec-inner {
  backdrop-filter: blur(5.57292px);
  background: #030e1499;
  border: 1.11458px solid #c9ec0680;
  border-radius: 26.75px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  display: flex;
  transform: rotate(-10.5deg);
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec span,
.sec-one .sec-one-body .sec-one-inner .overflow-sec-one span,
.sec-one .sec-one-body .sec-one-inner .overflow-sec-two span {
  font-size: 21px;
  font-family: "Dela Gothic One", sans-serif;
  color: white;
  text-transform: uppercase;
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec-one {
  transform: translate(-53%, -78%);
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec-two {
  transform: translate(-42%, -78%);
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec-one .overflow-sec-inner {
  transform: rotate(8.71deg);

}

.sec-one .sec-one-body .sec-one-inner .overflow-sec-two .overflow-sec-inner {
  transform: rotate(-7.5deg);
}

/* end */

/* sec-two */
.sec-two {
  padding: 40px 0 160px;
}

.sec-two .sec-two-inner {
  background: #04141C;
  border-radius: 26.75px;
  padding: 26px;
  margin-bottom: 44px;
}

.sec-two .sec-two-inner h3 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 35.6667px;
  line-height: 50px;
}

.sec-two .sec-two-inner p {
  color: #fff;
  opacity: .6;
  font-size: 20.0625px;
}

.sec-two .sec-two-inner .sec-sub-inner {
  position: relative;
  width: 358px;
  height: 269px;
  margin: auto;
}

.sec-two .sec-two-inner .sec-two-sub-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 40px;
}

.sec-two .sec-two-inner .sec-two-sub-inner span {
  background: linear-gradient(179.05deg, rgba(255, 255, 255, 0.1) 0.82%, rgba(255, 255, 255, 0) 110.86%);
  border-radius: 31.5871px;
  padding: 13.4245px 30.4737px 13.4245px 31.5871px;
  letter-spacing: -0.315871px;
  color: #FFFFFF;
  font-size: 15px;
  width: 32.333%;
  text-align: center;
}

.sec-two .sec-two-inner .sec-two-box {
  background: linear-gradient(128.76deg, #0D435E 0%, rgba(8, 8, 8, 0) 100%);
  backdrop-filter: blur(6.375px);
  border-radius: 29.325px 30.6px 30.6px 30.6px;
  padding: 35px;
}

.sec-two .sec-two-inner .sec-two-box .sec-two-inner-box {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(6.375px);
  border-radius: 21.675px;
  padding: 25px;
}

.sec-two .sec-two-inner .sec-two-box .sec-two-inner-box span {
  color: #FFFFFF;
  font-size: 15px;
}

.sec-two .sec-two-inner .sec-two-box .sec-two-inner-box ul {
  padding-left: 0;
  list-style: none;
  margin-top: 15px;
}

.sec-two .sec-two-inner .sec-two-box .sec-two-inner-box ul li {
  color: #FFFFFF;
  font-size: 15px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.sec-two .sec-two-inner .sec-two-box .sec-two-inner-box ul li i {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 3.825px;
  padding: 10px 15px;
  font-size: 20px;
}

.sec-two .sec-two-inner .sec-two-box .pattern-one>img {
  position: absolute;
  top: 90px;
  left: -15px;
  animation: rotate 4s linear infinite;
}

.sec-two .sec-two-inner .sec-two-box .pattern-two>img {
  position: absolute;
  top: 160px;
  right: -15px;
  animation: rotate 4s linear infinite;
}

.sec-two .sec-two-inner .sec-two-box .pattern-three>img {
  position: absolute;
  bottom: 90px;
  right: -15px;
  animation: rotate 4s linear infinite;
  z-index: 9;
}

.sec-two .sec-two-inner .sec-two-box .btn-contact {
  text-align: center;
  margin-top: 35px;
}

.sec-two .sec-two-inner .sec-two-box .btn-contact>a {
  background: #D3ED05;
  border-radius: 100px;
  padding: 7px;
  display: inline-block;
  text-decoration: none;
}

.sec-two .sec-two-inner .sec-two-box .btn-contact>a span {
  background: #111111;
  border-radius: 100px;
  padding: 10px 35px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* end */

/* banner-sec */
.banner-sec {
  background: linear-gradient(92.45deg, #3f9340 -12.22%, #0d3837 121.95%);
  height: 266px;
  padding: 0;
  display: flex;
  align-items: center;
}

.banner-sec .left h3 {
  font-size: 34.36px;
  line-height: 43px;
  color: #FFFFFF;
}

.banner-sec .right {
  position: relative;
}

.banner-sec .right>img {
  position: absolute;
  bottom: -208px;
}

/* end */

/* sec-three */
.sec-three {
  padding: 80px 0 40px;
  position: relative;
}

.sec-three::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 293px;
  height: 285px;
  background: #D3ED05;
  opacity: 0.75;
  filter: blur(158.082px);
  z-index: -1;
}

.sec-three .section-title {
  margin-bottom: 0;
}

.sec-three .bg-image {
  background: url("/assets/images/sec-three-bg.webp") no-repeat;
  background-position: 50% 280%;
  padding-top: 100px;
}

.sec-three .left,
.sec-three .right {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
}

.sec-three .center {
  position: relative;
  width: 100%;
  height: 876px;
}

.sec-three .left .sec-three-inner,
.sec-three .right .sec-three-inner {
  position: relative;
}

.sec-three .left .sec-three-inner img,
.sec-three .right .sec-three-inner img {
  animation: rotate 8s linear infinite;
}

.sec-three .left .sec-three-inner:nth-child(2) {
  right: 50px;
}

.sec-three .right .sec-three-inner:nth-child(1) {
  top: 30px;
}

.sec-three .right .sec-three-inner:nth-child(2) {
  left: 50px;
}

.sec-three .left .sec-three-inner span,
.sec-three .right .sec-three-inner span {
  letter-spacing: -0.47455px;
  text-transform: uppercase;
  font-size: 22.7784px;
  color: #FFFFFF;
  font-family: "Dela Gothic One", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* end */

/* service-sec */
.service-sec {
  padding: 40px 0;
}

.service-sec .section-title {
  text-align: start;
}

.service-sec .left {
  position: relative;
  width: 100%;
  height: 490px;
}

.service-sec .right .service-right-inner {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: 1px solid #BFBFBF;
  padding: 15px 0;
}

.service-sec .right .service-right-inner:nth-child(1) {
  border-top: 1px solid #BFBFBF;
}

.service-sec .right .service-right-inner span {
  color: #7D8387;
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
}

.service-sec .right .service-right-inner a {
  color: #ffffff;
  font-weight: 400;
  font-size: 32px;
  font-family: "Dela Gothic One", sans-serif;
  text-decoration: none;
  transition: all .3s;
}

.service-sec .right .service-right-inner a:hover {
  color: #d3ed05;
}

.service-sec .right .service-right-inner i {
  color: #fff;
  font-size: 35px;
}

/* end */

/* road-map */
.road-map {
  padding: 40px 0 0;
}

.road-map .road-map-body {
  justify-content: center;
  display: flex;
  gap: 40px;
}


.road-map .road-map-body .road-map-left-inner:nth-child(1) {
  margin-bottom: 430px;
}

.road-map .road-map-body .road-map-right-inner:nth-child(1) {
  margin-top: 320px;
  margin-bottom: 430px;
}

.road-map .road-map-body .road-map-left .road-map-left-inner span,
.road-map .road-map-body .road-map-right .road-map-right-inner span {
  letter-spacing: 2.33px;
  text-transform: uppercase;
  color: #D3ED05;
  font-size: 19.42px;
  font-family: "Dela Gothic One", sans-serif;
}

.road-map .road-map-body .road-map-left .road-map-left-inner h3,
.road-map .road-map-body .road-map-right .road-map-right-inner h3 {
  letter-spacing: -1.67188px;
  text-transform: uppercase;
  font-size: 34.42px;
  line-height: 52px;
  color: #FFFFFF;
}

.road-map .road-map-body .road-map-left .road-map-left-inner ul li,
.road-map .road-map-body .road-map-right .road-map-right-inner ul li {
  text-transform: capitalize;
  color: #FFFFFF;
  font-size: 21.42px;
  line-height: 33px;
}

.road-map .road-map-body .road-map-center {
  position: relative;
}

.road-map .road-map-body .road-map-center:after {
  content: "";
  background-color: #072733;
  width: 36px;
  height: 75%;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.road-map .road-map-body .road-map-center .center-space {
  height: 164px;
}

.road-map .road-map-body .road-map-center .shape {
  position: relative;
}

.road-map .road-map-body .road-map-center .shape>img {
  animation: rotate 3s linear infinite;
}

.road-map .road-map-body .road-map-center .shape>span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -60%);
  letter-spacing: -0.809125px;
  text-transform: uppercase;
  font-size: 38px;
  color: #FFFFFF;
  font-family: "Dela Gothic One", sans-serif;
}

/* end */
/* full-img */
.full-img .full-img-body {
  position: relative;
  width: 100%;
  height: 636px;
}

/* end */

/* faqs */
.question-answer {
  padding: 80px 0
}

.question-answer .qa-sec .accordion-item {
  border: none;
  margin-bottom: 20px;
  border-radius: 20px !important;
  background: transparent;
  border: 2px solid #8a8f92;
}

.question-answer .qa-sec h2 button {
  color: #ffffff;
  box-shadow: none;
  background: 0 0;
  margin-bottom: 0;
  font-family: "Archivo", sans-serif;
  font-size: 22px;
  border-radius: 0 !important;
  padding: 22px;
}

.question-answer .qa-sec .accordion-button:after {
  background: #d3ed05;
  border-radius: 100px;
  transform: scale(1.6) !important
    /* background-image: url(/assets/images/plus.png);
  transform: scale(1.4) !important */
}

.question-answer .qa-sec .accordion-button:not(.collapsed):after {
  /* background-image: url(/assets/images/minus.png) */
  background: #d3ed05;
  border-radius: 100px;
}

.question-answer .qa-sec .accordion-body {
  border-radius: 0 0 20px 20px
}

.question-answer .qa-sec .accordion-body p {
  margin-bottom: 0;
  color: #fff;
  opacity: .6;
  font-size: 20.0625px;
}

/* end */

/* get quote */
/* contact us */
.contact-us {
  padding: 0px 0px 80px;
}

.contact-us .contact-left {
  position: relative;
  width: 100%;
  height: 519px;
}

.contact-us form input,
.contact-us form select,
.contact-us form textarea {
  box-shadow: 0 1.16036px 2.32072px #1b1f230d;
  background: linear-gradient(163.25deg, rgba(16, 16, 16, 0.324) -24.95%, rgba(0, 0, 0, 0) 117%);
  border: 2.85944px solid rgba(255, 255, 255, 0.45);
  border-radius: 5.71889px;
}

.contact-us form select option {
  color: black;
}

.contact-us form label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #FAFAFA;
}

.contact-bg {
  padding: 40px 50px;
  background: url("/assets/images/contact-bg.webp") no-repeat center;
  background-size: cover;
  border-radius: 32px;
}

/* end */

/* about us */
.inner-pages {
  background-position: 50% 100%;
}

.inner-pages .center-col {
  text-align: start;
}

.inner-pages .img-right {
  position: relative;
  width: 100%;
  height: 465px;
}

/* end */
/* inner-sec-one */
.inner-sec-one {
  padding: 80px 0 40px;
}

.inner-sec-one .left .section-title {
  text-align: start;
}

.inner-sec-one .img-right {
  position: relative;
  width: 474px;
  height: 456px;
}

/* end */

/* inner-sec-two */
.inner-sec-two {
  padding: 40px 0;
}

.inner-sec-two .sec-two-box {
  background: #04141C;
  padding: 30px;
}

.inner-sec-two .sec-two-box>h3 {
  font-size: 24px;
  color: #d3ed05;
  margin-top: 16px;
}

.inner-sec-two .sec-two-box>p {
  font-size: 16px;
  color: white;
  margin-bottom: 0;
}

/* end */

/* meet-sec */
.meet-sec {
  padding: 40px 0;
}

.meet-sec .section-title h3 {
  font-size: 30px;
  letter-spacing: normal;
  line-height: normal;
}

.meet-sec .meet-sec-bg {
  background: #04141C;
  border: 0.896248px solid #464646;
  padding: 30px;
}

.meet-sec .meet-sec-body {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.meet-sec .meet-sec-body .meet-sec-inner {
  color: #fff;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* end */

/* inner-sec-five */
.inner-sec-five {
  padding: 40px 0 80px;
}

.inner-sec-five .inner-five-body {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  position: relative;
  margin-top: 30px;
}

.inner-sec-five .inner-five-body::after {
  content: "";
  position: absolute;
  right: 50%;
  background: #b3b3b369;
  height: 100%;
  width: 1px;
}

.inner-sec-five .inner-five-body .inner-five-inner {
  width: 45.333%;
  border-bottom: 1px solid #b3b3b369;
  padding-bottom: 35px;

}

.inner-sec-five .inner-five-body .inner-five-inner>h4 {
  font-family: "Archivo", sans-serif;
  color: white;
}

.inner-sec-five .inner-five-body .inner-five-inner>p {
  color: white;
  font-size: 16px;
  margin-bottom: 0;
}

/* end */
/* form */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  resize: none;
  display: block;
  width: 100%;
  padding: 16px 15px;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #1e1e1e42;
  color: #ffffff !important;
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
  border-color: #D3ED05;
  box-shadow: none !important;
  outline: none !important;
}

::placeholder {
  color: white !important;
}

::-webkit-input-placeholder {
  color: white !important;
}

:-ms-input-placeholder {
  color: white !important;
}

/* end */

/* Button */

.btn-theme {
  border: 2px solid #D3ED05;
  padding: 10px 35px;
  display: inline-block;
  font-weight: 600;
  background: #D3ED05;
  color: #212121;
  transition: all ease-in-out 0.3s;
  font-size: 1rem;
  border-radius: 12px;
}

.btn-theme:hover {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* end */

/* footer */
.footer {
  padding-top: 15px;
  padding-bottom: 20px;
}

.footer .footer-logo p {
  color: white;
  margin-top: 20px;
  font-size: 1rem;
  display: inline-block;
  font-weight: 400;
}

.footer .footer-links {
  border-left: 2px solid white;
  padding-left: 22px;
}

.footer .footer-links>h6 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 0;
}

.footer .footer-links>p {
  color: white;
  font-size: 1rem;
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: 400;
}

.footer .footer-links>ul>li {
  padding: 20px 0px 0 0px;
}

.footer .footer-links>ul>li:hover {
  color: #d3ed05;
}

.footer .footer-links>ul>li>a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  transition: all ease-in-out 0.3s;
}

.footer .footer-links>ul>li>a>i {
  font-size: 20px;
}

.footer .footer-links>ul>li>a:hover {
  color: #d3ed05;
}

.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer .social>a {
  color: #d3ed05;
  font-size: 24px;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
}

.footer .social>a:hover {
  color: #ffffff;
}

.footer .footer-bootom-links>p {
  margin: 0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.footer hr {
  opacity: 1;
  border: 1px solid white;
}

.footer .other-links>p {
  display: flex;
  gap: 25px;
  justify-content: end;
}

.footer .other-links>p>a {
  color: #ffffff;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
}

.footer .other-links>p>a:nth-child(2):after {
  content: "";
  position: absolute;
  top: 0;
  left: -14px;
  background: white;
  width: 2px;
  height: 100%;
}

.footer .other-links>p>a:hover {
  color: #d3ed05;
}

.footer .footer-bootom-links>span {
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

/* end */

/*scroll*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #D3ED05;
  border-color: #D3ED05;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000001;
}

/* model popup */
.model-discount span {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
  color: #d3ed05;
}

.animate-div {
  animation: zoom-in-zoom-out 2s ease-out infinite;
}

.model-discount span label {
  color: #d3ed05;
  animation: zoom-in-zoom-out 2s ease-out infinite;
  font-size: 20px;
  font-weight: 700;
}

.model-discount label {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.model-sec .modal-body {
  padding: 0;
  position: relative;
  background: #030e14;
}

.model-sec .modal-content {
  border-radius: 30px;
  border: none;
}

.model-discount {
  padding: 30px 40px 30px 40px;
  background: #030e14;
  border-radius: 30px;
}

.model-sec input,
.model-sec select,
.model-sec textarea {
  padding: 10px 15px;
  border: 2px solid white;
}

.model-sec select {
  background-color: transparent;
  box-shadow: none !important;
  color: white;
}

.model-sec select option {
  color: black;
}

.model-sec select:focus {
  border-color: #d3ed05 !important;
}

.model-discount .btn-close {
  box-shadow: none;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
  transform: scale(0.8);
  opacity: 1;
}

.offcanvas-header .btn-close {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
  transform: scale(0.7);
}

.model-discount hr {
  background-color: #ffffff;
  opacity: 1;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
  }

  30% {
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }

  50% {
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
  }

  50% {
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }

  100% {
    transform: scale(0.9);
    transition: all 0.7s ease-in-out;
  }
}

/* end */

/* admin form */
.admin-form input {
  border: 2px solid #fff;
}

.admin-form label {
  display: flex;
  align-items: center;
}

.admin-form label span {
  color: white;
}

/* end */

/* responsive css */

@media (min-width: 1280px) and (max-width: 1366px) {
  .top-banner .left>img {
    width: 100%;
  }

  .sec-three .right .sec-three-inner:nth-child(2) {
    left: 0;
  }

  .sec-three .left .sec-three-inner span,
  .sec-three .right .sec-three-inner span {
    transform: translate(-40%, -50%);
  }
}

@media (max-width: 767px) {

  .top-banner .center-col h1,
  .section-title h2,
  .section-title h3,
  .banner-sec .left h3,
  .top-banner .right .number span {
    font-size: 28px;
    line-height: normal;
  }

  .top-banner {
    padding: 110px 0;
  }

  .top-banner .center-col {
    margin-bottom: 35px;
  }

  .top-banner .left>img {
    width: 100%;
    height: auto;
  }

  .top-banner .center {
    margin-top: 35px;
    height: 385px;
  }

  .sec-one .sec-one-body {
    flex-direction: column;
  }

  .sec-one .sec-one-body .sec-one-inner,
  .sec-one .sec-one-body .sec-one-inner>img,
  .sec-two .sec-two-inner .sec-sub-inner,
  .inner-sec-one .img-right {
    width: 100%;
  }

  .sec-one .sec-one-body .sec-one-inner>img {
    height: auto;
  }

  .sec-one .sec-one-body .sec-one-inner .overflow-sec span,
  .sec-one .sec-one-body .sec-one-inner .overflow-sec-one span,
  .sec-one .sec-one-body .sec-one-inner .overflow-sec-two span {
    font-size: 14px;
  }

  .sec-one .sec-one-body .sec-one-inner .overflow-sec {
    transform: translate(-43%, -60%);
  }

  .sec-one .sec-one-body .sec-one-inner .overflow-sec-one {
    transform: translate(-56%, -55%);
  }

  .sec-one .sec-one-body .sec-one-inner .overflow-sec-two {
    transform: translate(-45%, -55%);
  }

  .sec-two .sec-two-inner h3,
  .service-sec .right .service-right-inner a,
  .road-map .road-map-body .road-map-left .road-map-left-inner h3,
  .road-map .road-map-body .road-map-right .road-map-right-inner h3 {
    font-size: 24px;
    line-height: normal;
  }

  .sec-two .sec-two-inner .sec-two-sub-inner span {
    width: 48.333%;
  }

  .full-img .full-img-body {
    height: 150px;
  }

  .banner-sec {
    height: auto;
    padding: 40px 0;
  }

  .banner-sec .right>img {
    margin-top: 45px;
    position: static;
    width: 100%;
    height: auto;
  }

  .sec-two {
    padding: 30px 0 0;
  }

  .sec-three .left .sec-three-inner img,
  .sec-three .right .sec-three-inner img {
    width: 100%;
    height: auto;
  }

  .sec-three .left .sec-three-inner:nth-child(2) {
    right: 0;
  }

  .sec-three .right .sec-three-inner:first-child {
    top: 0;
  }

  .sec-three .right .sec-three-inner:nth-child(2) {
    left: 0;
  }

  .sec-three .center {
    height: 600px;
    margin: 35px 0;
  }

  .sec-three .bg-image {
    padding-top: 40px;
  }

  .service-sec .left {
    height: 400px;
    margin-bottom: 30px;
  }

  .service-sec,
  .road-map {
    padding: 30px 0;
  }

  .road-map .road-map-body {
    flex-direction: column;
    margin-top: 30px;
  }

  .road-map .road-map-body .road-map-left-inner:first-child,
  .road-map .road-map-body .road-map-right-inner:first-child {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .road-map .road-map-body .road-map-left,
  .road-map .road-map-body .road-map-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }

  .sec-three .left .sec-three-inner,
  .sec-three .right .sec-three-inner {
    width: 75%;
    margin: auto;
  }

  .sec-three .left .sec-three-inner span,
  .sec-three .right .sec-three-inner span {
    font-size: 18.7784px;
  }

  .road-map .road-map-body .road-map-left .road-map-left-inner span,
  .road-map .road-map-body .road-map-right .road-map-right-inner span {
    font-size: 16px;
  }

  .contact-us .contact-left {
    height: 350px;
    margin-bottom: 40px;
  }

  .footer {
    text-align: center;
  }

  .footer .footer-links {
    border-left: 0;
    padding-left: 0;
    margin-bottom: 40px;
  }

  .footer .footer-bootom-links>p {
    text-align: center;
  }

  .footer .other-links>p {
    justify-content: center;
    margin-top: 20px;
  }

  .inner-pages .img-right,
  .inner-sec-one .img-right {
    height: 385px;
  }

  .meet-sec .meet-sec-body {
    flex-wrap: wrap;
  }
}

/* end */