* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background: #030E14;
  font-family: "Archivo", sans-serif;
  line-height: 1.5;
  color: #6a7382;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  color: #000001;
  margin-top: 0;
  line-height: 1.5;
  font-family: "Dela Gothic One", sans-serif;
}

p {
  margin-bottom: 15px;
  color: #6a7382;
}

/* Navbar */

.navbar-nav li {
  padding: 10px 10px;
}

.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff !important;
  display: inline-block;
  position: relative;
}

.navbar-nav li a:hover {
  color: #ffffff !important;
}

.navbar-nav .nav-link.active {
  color: #ffffff !important;
}

.header.sticky li a {
  color: white !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-nav .nav-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #D3ED05;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar-nav .nav-link:hover::after,
.navbar-nav .nav-link.active::after {
  width: 100%;
  left: 0;
}

ul.dropdown-menu {
  padding: 0;
}

.dropdown-menu li:hover,
.dropdown-menu li:hover a {
  background: white;
  color: #000001 !important;
}

.navbar-brand img {
  /* width: 245px;
  height: 115px; */
  width: auto;
  transition: 0.6s;
}

.navbar-nav li a {
  font-size: 1rem;
  font-weight: 400;
  color: #000001;
}

.offcanvas {
  background-color: #000001;
}

.offcanvas .navbar-nav .dropdown-menu {
  margin-top: 10px;
  border-radius: 8px;
}

.offcanvas .navbar-nav .dropdown-menu li {
  padding: 10px 0;
}

.offcanvas .navbar-nav .dropdown-menu li:hover,
.offcanvas .navbar-nav .dropdown-menu li:hover a {
  border-radius: 8px;
}

.offcanvas .btn-close svg {
  fill: white;
}

.offcanvas-header>img {
  width: 15rem;
}

.dropdown-menu {
  background-color: #D3ED05;
  border-radius: 0px;
}

.dropdown-item {
  background: none !important;
}

.dropdown-menu li {
  padding: 6px 10px;
}

/* section */

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
}

.section-title span {
  color: #D3ED05;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
}

.section-title h2 {
  font-size: 58px;
  line-height: 82px;
  letter-spacing: -2.22917px;
  color: white;
  text-transform: uppercase;
}

.container {
  max-width: 1420px;
}

/* header */
.header {
  z-index: 999;
  background: transparent;
  position: absolute;
  width: 100%;
  padding: 15px 0;
  transition: all .6s;
}

header.sticky {
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #030E14;
}

header.sticky #navbarNav {
  border-bottom: 0px !important;
}

header.sticky img {
  width: auto;
  transition: all 0.5s ease-in-out;
}

/* top banner */
.top-banner {
  background: url("/assets/images/top-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 165px 0;
}

.top-banner .center-col {
  text-align: center;
}

.top-banner .center-col h1 {
  color: #fff;
  font-size: 51.71px;
  line-height: 59px;
}

.top-banner .center-col h1 span {
  color: #d3ed05;
}

.top-banner .center-col p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 0;
}

.top-banner .left {
  border: 1px solid #ffffff20;
  padding: 15px;
  border-radius: 54px;
  position: relative;
}

.top-banner .left .overflow-sec {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 26.75px;
  background: rgba(3, 14, 20, 0.6);
  backdrop-filter: blur(5.57292px);
  padding: 10px 25px;
  position: absolute;
  width: 85%;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  border: 1.11458px solid rgba(201, 236, 6, 0.5);
}

.top-banner .left .overflow-sec p {
  font-size: 17px;
  color: white;
  margin-bottom: 0;
}

.top-banner .center {
  margin-top: 84px;
}

.top-banner .left .overflow-sec span {
  font-size: 22px;
  color: white;
  font-family: "Dela Gothic One", sans-serif;
}

.top-banner .right {
  background: linear-gradient(90deg, rgba(3, 14, 20, 0.2) 0%, rgba(3, 14, 20, 0) 100%);
  border-radius: 26.75px;
  padding: 40px;
}

.top-banner .right .number {
  margin-bottom: 43px;
}

.top-banner .right .number span {
  font-size: 39px;
  font-family: "Dela Gothic One", sans-serif;
  color: white;
}

.top-banner .right .number p {
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

/* End */

/* sec one */
.sec-one {}

.sec-one .sec-one-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-one .sec-one-body .sec-one-inner {
  position: relative;
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec,
.sec-one .sec-one-body .sec-one-inner .overflow-sec-one {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-radius: 26.75px;
  background: rgba(3, 14, 20, 0.6);
  backdrop-filter: blur(5.57292px);
  padding: 10px 25px;
  position: absolute;
  transform: rotate(-10.5deg);
  border: 1.11458px solid rgba(201, 236, 6, 0.5);
  width: 75%;
  bottom: 55px;
  left: 19%;
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec span,
.sec-one .sec-one-body .sec-one-inner .overflow-sec-one span {
  font-size: 21px;
  font-family: "Dela Gothic One", sans-serif;
  color: white;
  text-transform: uppercase;
}

.sec-one .sec-one-body .sec-one-inner .overflow-sec-one {
  transform: rotate(8.73deg);
  left: 8%;
  bottom: 60px;
}

/* end */

/* form */
/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control {
  resize: none;
  display: block;
  width: 100%;
  padding: 16px 15px;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #1e1e1e42;
  color: #1e1e1e !important;
  background-color: transparent;
}

.form-control:focus {
  background-color: transparent;
  border-color: #D3ED05;
  box-shadow: none !important;
  outline: none !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #1e1e1e !important;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #1e1e1e !important;
  font-weight: 400;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #1e1e1e !important;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
  font-weight: 400;
}

/* end */

/* Button */

.btn-theme {
  border: 2px solid #D3ED05;
  padding: 10px 35px;
  display: inline-block;
  font-weight: 600;
  background: #D3ED05;
  color: #212121;
  transition: all ease-in-out 0.3s;
  font-size: 1rem;
  border-radius: 12px;
}

.btn-theme:hover {
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* end */

/* footer */
.footer {
  padding-top: 70px;
  padding-bottom: 20px;
  background: #0D1F2D;
}

.footer-logo img {
  width: 160px;
  filter: brightness(0) invert(1);
}

.footer-logo p {
  color: white;
  margin-top: 20px;
  font-size: 1rem;
  display: inline-block;
  font-weight: 400;
}

.footer-links>h6 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 0;
  font-weight: 600;
}

.footer-links>p {
  color: white;
  font-size: 1rem;
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: 400;
}

.footer-links>ul>li {
  padding: 20px 0px 0 0px;
  color: white;
  transition: all ease-in-out 0.3s;
}

.footer-links>ul>li:hover {
  color: #546DD4;
}

.footer-links>ul>li>a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  font-weight: 400;
  transition: all ease-in-out 0.3s;
}

.footer-links>ul>li>a:hover {
  color: #FFE100;
  padding-left: 10px;
}

.social>p>span {
  margin: 0;
  margin-right: 15px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.social>p>a {
  color: #FFE100;
  margin: 0 5px;
  font-size: 1.2rem;
  transition: all ease-in-out 0.3s;
  padding: 0px 16px 0 0;
  border-radius: 30px;
}

.social>p>a:hover {
  color: #ffffff;
}

.footer-bootom-links>p {
  margin: 0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}

.footer input,
.footer input:focus {
  border-left: 1px solid rgba(255, 255, 255, 1);
  border-right: none;
  border-radius: 0;
}

.footer button,
.footer input,
.footer input:focus {
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.footer input {
  color: #ffffff !important;
  background: transparent;
}

.footer input::placeholder {
  color: white !important;
}

.footer button {
  border-radius: 0;
  background: 0 0;
  border-right: 1px solid rgba(255, 255, 255, 1);
  border-left: none;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 1rem;
  background: transparent;
}

.footer-links>ul>li img {
  margin-right: 8px;
}

.footer-links>ul>li p {
  font-size: 1rem;
  color: #9f9f9f;
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-links>ul>li a {
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  transition: all ease-in-out 0.3s;
}

.social-link>p>a:nth-child(1) {
  border-right: 2px solid white;
}

hr {
  background-color: white;
  opacity: 1;
}

.social-link>p>a {
  color: #ffffff;
  margin: 0 5px;
  transition: all ease-in-out 0.3s;
  padding: 0px 10px 0 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.social-link>p>a:hover {
  color: #FFE100;
}

.footer-bootom-links>span {
  margin: 0;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

/* end */

.animate-up {
  animation: up 3s ease-in-out infinite;
}

@keyframes up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-16px);
  }

  100% {
    transform: translateY(0);
  }
}

/*scroll*/
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #D3ED05;
  border-color: #D3ED05;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000001;
}

/* model popup */
.model-discount span {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0;
  color: #546DD4;
}

.animate-div {
  animation: zoom-in-zoom-out 2s ease-out infinite;
}

.model-discount span label {
  color: #546DD4;
  animation: zoom-in-zoom-out 2s ease-out infinite;
  font-size: 20px;
  font-weight: 700;
}

.model-discount label {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
}

.model-sec .modal-body {
  padding: 0;
  position: relative;
}

.model-sec .modal-content {
  border-radius: 30px;
  border: none;
}

.model-discount {
  padding: 30px 40px 30px 40px;
  background: #ffffff;
  border-radius: 30px;
}

.model-input {
  border-color: #0D1F2D;
  padding: 10px 15px;
  color: #0D1F2D !important;
  border: 2px solid;
}

.model-input:focus {
  border-color: #546DD4 !important;
}

.model-input::placeholder {
  color: #0D1F2D !important;
  font-weight: 500;
}

.model-discount .btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  box-shadow: none;
}

.model-discount hr {
  background-color: #0D1F2D;
  opacity: 1;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
  }

  30% {
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }

  50% {
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
  }

  50% {
    transform: scale(1);
    transition: all 0.7s ease-in-out;
  }

  100% {
    transform: scale(0.9);
    transition: all 0.7s ease-in-out;
  }
}

/* end */